<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Chess Tracker</title>
        <link rel="stylesheet" href="main.css"/>
    </head>
    <body>
      <header>
        <h2>header title</h2>
        <h3>other stuff, stuff, stuff</h3>
      </header>
      <main>

      </main>
    </body>
</html>
