<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Chess Tracker</title>
        <link rel="stylesheet" href="main.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    </head>
    <body>
      <header>
        <h2>header title</h2>
        <h3>other stuff, stuff, stuff</h3>
      </header>
        <hr />
      <main>
        <section class="btnDiv">
          <button id="addPlayer">Add a player</button>
          <button id="addGame">Add a game</button>
        </section>
        <section class="wrapper">
          <div class="tableDisplay">
            <div class="tableHeader">Recent Matches</div>
            <div class="tableKey">
              <div>Winner</div>
              <div>Loser</div>
              <div>Date</div>
            </div>
            {{#each data.games}}
            <div class="tableKey">
              <div>{{this.winner}}</div>
              <div>{{this.loser}}</div>
              <div>{{this.date}}</div>
            </div>
            {{/each }}
          </div>
          <div class="tableDisplay">
            <div class="tableHeader">Player History</div>
            <div class="tableKey">
              <div>Player name</div>
              <div>Total games</div>
              <div>Wins</div>
              <div>Loses</div>
              <div>Record</div>
            </div>
          </div>
        </section>

        <section id="modalBody">

        </section>
      </main>
    <script src="main.js"></script>
    </body>
</html>
