<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Chess Tracker</title>
        <link rel="stylesheet" href="main.css"/>
    </head>
    <body>
      <header>
        <h2>header title</h2>
        <h3>other stuff, stuff, stuff</h3>
      </header>
        <hr />
      <main>
        <section class="wrapper">
          <div class="tableDisplay">
            <div class="tableHeader">Recent Matches</div>
            <div class="tableKey">
              <div>Winner</div>
              <div>Loser</div>
              <div>Date</div>
            </div>
            {{#each data}}
            <div class="tableKey">
              <div>{{this.winner_id}}</div>
              <div>{{this.loser_id}}</div>
              <div>{{this.date}}</div>
            </div>
            {{/each }}
          </div>
          <div class="tableDisplay">
            <div class="tableHeader">Player History</div>
            <div class="tableKey">
              <div>Player name</div>
              <div>Total games</div>
              <div>Wins</div>
              <div>Loses</div>
              <div>Record</div>
            </div>
          </div>
        </section>
      </main>
    </body>
</html>
